<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>JAVA18_shareIT</display-name>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCatController</servlet-name>
    <servlet-class>controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatController</servlet-name>
    <url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <servlet-class>controller.AdminIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <url-pattern>/admin/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsController</servlet-name>
    <servlet-class>controller.AdminAddNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsController</servlet-name>
    <url-pattern>/admin/news/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewsController</servlet-name>
    <servlet-class>controller.AdminEditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsController</servlet-name>
    <url-pattern>/admin/news/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewsController</servlet-name>
    <servlet-class>controller.AdminDelNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsController</servlet-name>
    <url-pattern>/admin/news/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexAdvController</servlet-name>
    <servlet-class>controller.AdminIndexAdvController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexAdvController</servlet-name>
    <url-pattern>/admin/advs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchNewsController</servlet-name>
    <servlet-class>controller.AdminSearchNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchNewsController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddAdvController</servlet-name>
    <servlet-class>controller.AdminAddAdvController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddAdvController</servlet-name>
    <url-pattern>/admin/adv/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditAdvController</servlet-name>
    <servlet-class>controller.AdminEditAdvController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditAdvController</servlet-name>
    <url-pattern>/admin/adv/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelAdvController</servlet-name>
    <servlet-class>controller.AdminDelAdvController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelAdvController</servlet-name>
    <url-pattern>/admin/adv/del</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/auth/logout</url-pattern>
  </servlet-mapping>
</web-app>